<!DOCTYPE html>
<html>
<head>
    <title>Add Page</title>
</head>
    <body>
        <h1>{{ category_name }}:add_pages</h1>

        <form id="page_form" method="post" action='/rango/category/{{ category_name_url }}/add_page/'>
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}<br />
                {{ field.help_text }}<br />
                {{ field }}
            {% endfor %}

            <br><input type="submit" name="submit" value="add a page" />

        </form>


    </body>
</html>